
:root {
    --accent-color:#2196F3;
    --primary-text-color: #212121;
    --header-background-color: #FFFFFF;
    --footer-background: #2F303A;
    --second-text-color: #757575;
    --typical-margin: 30 px;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: #FFFFFF;
}

p, h1, h2, h3, h4, h5, h6 {
    margin:0;
}
ul, ol {
    padding-left: 0;
    margin: 0;
}

button {
    cursor:pointer;
}


img {
    display: block;
}


.link {
    text-decoration: none;
}
/* -----------хедер----------- */


.header-link.current {
    color: var(--accent-color)
}
.header {
    background-color: var(--header-background-color);
}
.list {
    list-style: none;
}
.header-logo {
    text-decoration: none;
}
.header-link {
    text-decoration: none;
}
.header-link-contact{
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 1px solid red;
}




/* -----------Лого ---------------*/
.header {
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header-logo-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--primary-text-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
}


.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

/* ---------контакти---------- */


.header-link-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}


.header-link-contact:hover, 
.header-link-contact:focus {
    color: var(--accent-color);
}



/* -----------Мейн контент Студия---------- */

/* ------------Герой сайту --------------- */
.hero-studio {
    background-color: #2F303A;
}


.hero-title {
    text-align: center;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    
}

.hero-btn {
    cursor: pointer;
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


/* ------------Особенности компании------------ */
.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}


.benefits-title-main {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowarp;
    clip-path: insert(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);

}


.benefits-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/* ----------Чем ми занимаемся--------- */


.activity-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    
}

/* --------Наша команда--------- */

.team {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 124px;

}

.team-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.team-item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-title-second {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    margin-top: 30px;
}


.team-text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}



/* -----------ПОРТФОЛИО------------ */


/* ---------мейн контент порфоліо */
.portfolio {
    padding-bottom: 20px;
}

.portfolio-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowarp;
    clip-path: insert(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.portfolio-btn.main {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #2196F3;
}



.portfolio-btn {
    cursor: pointer;
}
.portfolio-btn {

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    border-radius: 4px;
}
.portfolio-btn:hover, .portfolio-btn:focus {
    background: var(--accent-color);
    color: #FFFFFF;

}

.galery-img {
    margin-top: 56px;
    margin-bottom: 20px;
}

.galery-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.galery-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}



/* ----------Футер------------- */
.footer {
    background-color: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo {
    text-decoration: none;
}
.footer-contact {
    text-decoration: none;
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-bottom: 20px;
}
.footer-logo-studio {
    color: #FFF;
}
.footer-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-contact {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
}
.footer-contact:hover, 
.footer-contact:focus {
    color: #FFFFFF ;
}